/*#wholeDisplayList{*/
/*    background-color: #9bc4ca;*/
/*}*/

#elementInFormCreateList{
    object-position: center;
    margin-left: 15%;

}



#buttonCreateListInFormCreateList{
    object-position: center;
    margin-left: 15%;

}

#iconAndLabelBeforePhotoEquipmentInCreateList{
    object-position: center;
    margin-left: 15%;

}

#textAfterIconPhotoEquipmentInCreateList{
    object-position: center;
    margin-left: 10%;

}

#destinationInFormCreateList{
    object-position: center;
    margin-left: 2%;
    color: saddlebrown;

}

