#elementInFormCreateList{
    object-position: center;
    margin-left: 25%;

}



#buttonCreateListInFormCreateList{
    object-position: center;
    margin-left: 25%;

}

#iconAndLabelBeforePhotoEquipmentInCreateList{
    object-position: center;
    margin-left: 25%;

}

#textAfterIconPhotoEquipmentInCreateList{
    object-position: center;
    margin-left: 10%;

}
