#ListNameInFormCreateList{
    object-position: center;
    margin-left: 25%;

}

#PasswordInFormCreateList{
    object-position: center;
    margin-left: 25%;

}

#ButtonCreateListInFormCreateList{
    object-position: center;
    margin-left: 25%;

}

#IconAndLabelBeforePhotoEquipmentInCreateList{
    object-position: center;
    margin-left: 25%;

}

#TextAfterIconPhotoEquipmentInCreateList{
    object-position: center;
    margin-left: 10%;

}
