#itemsInRegisterCustomer{

    object-position: center;
    margin-left: 29%;


}


#buttonRegister{
    margin-left: 29%;

}

/*#mainComponent{*/

/*    backgroundImage:*/
/*            "url('../photo/BackgroundRegsiterPage.jpg')",*/

/*}*/

