#loginOrRegister{
    text-align: center;
    margin-top:5%;

}

#createCustomerList{
    text-align: center;
    margin-top:3%;

}
#pay{
    text-align: center;
    margin-top:3%;

}

#PageTitle{
    color: saddlebrown;
    font-size: calc(15px + 2vmin);
    text-align: center;

}

#buttonSizePay{
    width: 140px;
}
#buttonSizeRegister{
    width: 140px;
}

#buttonSizeLogin{
    width: 140px;
}

#buttonSizeCreateList{
    width: 140px;
}